@media only screen and (min-width: 800px) and (max-width: 1140px) {
  .main-banner .ctn {
    padding: 3rem 4rem;
  }

  .main-banner .ctn nav ul li {
    margin: 0 1rem;
    display: flex;
    align-items: center;
  }

  .navbar-text {
    width: 85%;
  }

  .blog .content {
    width: 70%;
  }

  .blog .content h1 span {
    font-weight: 700;
    font-size: 4rem;
  }

  .blog .content h1 {
    font-weight: 700;
    font-size: 2.5rem;
  }

  /* Modal Content */
  .modal {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
  }

  .modal-content-product {
    margin: 20vh auto;
    padding: 10px 20px 10px 0px;
    width: 70%;
  }
  /* /Modal Content */
}

@media only screen and (min-width: 200px) and (max-width: 800px) {
  .main-banner {
    background-position: 0;
    height: 90vh;
  }

  .main-banner .ctn {
    padding: 3rem 2rem;
  }

  .navbar-text {
    width: 100%;
    margin: 20vh 0;
    text-align: center;
  }

  .main-banner .ctn nav ul li.bar {
    display: block;
  }

  .main-banner .ctn nav ul li {
    display: none;
  }

  .navbar-text {
    margin: 15vh 0;
  }

  .navbar-text h1.navbar-description {
    font-size: 2rem;
  }

  .navbar-text button {
    width: 100%;
    margin: 1rem 0;
  }

  .blog .content {
    width: 100%;
    padding: 0 0;
  }

  .blog .content h1 span {
    font-weight: 700;
    font-size: 3rem;
  }

  .blog .content h1 {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .rooms .room .mobile {
    display: block;
  }

  .rooms .room .desktop {
    display: none;
  }

  .diskount .content .box .input-group {
    width: 100%;
  }

  .diskount .content {
    padding: 0 1rem;
  }

  .diskount .content .box .input-group-text {
    padding: 0.5rem 1rem;
  }

  .footer .social__apps {
    margin-bottom: 2rem;
  }

  button.dk-btn {
    border-radius: 0;
    background-color: var(--text-color);
    color: white;

    display: inline-block;
    padding: 12px 15px;
    position: relative;
    z-index: 1;
    transition: 0.5s all ease;
  }

  .modal-content-product {
    padding: 10px;
    width: 85%;
  }

  .modal-content-product .content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
  }

  .modal-content-product .content img {
    margin: 0 auto;
  }

  .modal-content-product .content .text {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 575px) {
  .main-banner {
    background-position: 0;
    height: 80vh;
  }

  .main-banner .ctn {
    padding: 2rem 1rem;
  }

  .navbar-text {
    width: 100%;
    margin: 12vh 0;
    text-align: center;
  }

  .navbar-text h1.navbar-description {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 575px) {
  .footer ul {
    align-items: center;
  }
}
