:root {
  /* Colors */
  --main: #002a32;
  --light-blue: #d2e2ee;
  --light-background: #f3f3f3;
  --blue: #71b3c6;

  --yellow: #f3b705;
  --text-color: #264a51;
  /* /Colors */
}

/* Fonts */
@font-face {
  font-family: "Dance";
  src: url("../fonts/DancingScript-Regular.ttf");
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Regular.ttf");
}

@font-face {
  font-family: "Mukta";
  src: url("../fonts/Mukta-Regular.ttf");
}
/* /Fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-background) !important;
}

h1,
h2,
h3 {
  font-family: "Dosis";
  letter-spacing: 0.3rem;
  color: var(--text-color);
}

svg,
img {
  cursor: pointer;
}

h6,
p {
  font-family: "Mukta";
}

/* Main Banner */
.two-navs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-nav {
  width: 12%;
  height: 100vh;
  background-color: var(--main);
  position: relative;
}

.first-nav nav .images img {
  width: 75%;
  margin: 1.2rem 0rem;
}

.first-nav nav .images svg {
  fill: white;
  height: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar-content {
  margin: 1rem 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-content ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.navbar-content .nav-ul .hide {
  display: none;
}

.navbar-content .nav-ul .hide.show {
  display: block;
}

.navbar-content ul li {
  padding: 0.8rem 0rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar-content ul li.active {
  background-color: var(--blue);
}

.navbar-content ul li:hover {
  background-color: var(--blue);
}

.navbar-content ul .nav-li h5 {
  font-weight: 300;
  color: var(--light-blue);
  margin: 0.5rem 0;
}

.navbar-content ul .nav-li svg {
  fill: var(--light-blue);
  height: 1rem;
}

/* ////// */
.second-nav {
  background-image: url(../images/main-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  /* padding: 2rem 5rem; */
}

.second-nav .ctn {
  margin: 0 auto;
  padding: 0 5rem;
  width: 100%;
}

.second-nav nav .second-navbar-content .nav-second-ul,
.second-nav nav .second-navbar-content .nav-second-ul .first-content,
.second-nav nav .second-navbar-content .nav-second-ul .second-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 1rem 0;
  padding: 0;
}

.second-nav nav .second-navbar-content .nav-second-ul .first-content li,
.second-nav nav .second-navbar-content .nav-second-ul .second-content li {
  display: flex;
  text-transform: uppercase;
  margin: 0 2.5rem;
  margin-left: 0;
  align-items: center;
  color: var(--text-color);
  font-weight: 500;

  cursor: pointer;
}

.second-nav nav .second-navbar-content .nav-second-ul .first-content li svg,
.second-nav nav .second-navbar-content .nav-second-ul .second-content li svg {
  margin: 0rem 0.7rem;
  fill: white;
  height: 1.2rem;
}

.second-navbar-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  width: 50%;
}

.second-navbar-text .first-text h5 {
  font-family: "Dance";
  letter-spacing: 0.3rem;
  word-spacing: 0.5rem;
  text-transform: capitalize;

  margin-bottom: 1rem;
}

.second-navbar-text .first-text h1 {
  font-family: "Dosis";
  word-spacing: 0.7rem;
  font-weight: 600;
  font-size: auto;
  font-size: 2.7rem;

  margin: 1.5rem 0;
}

/* Brands */
.brands {
  background-color: var(--light-blue);
}

.brands .splide .splide__track .splide__list .splide__slide {
  cursor: pointer;
}
/* /Brands */

/* Products */
.products {
  margin: 5rem 0;
  text-align: center;
}

.products h1.products-title {
  font-weight: 600;
  font-family: "Dosis";
}

.products .products-cat__list {
  margin: 2rem 0;
}

.products .products-cat__list button {
  margin: 0.5rem 1rem;
  padding: 0.3rem 1.5rem;
  border: 1px solid var(--text-color);
}

.products .products-cat__list button:hover,
.products .products-cat__list button.active,
.products .products-cat__list .btn-clicked {
  background-color: var(--text-color);
  color: white;
}

.products .product{
  opacity: 1;
  transition: all 0.5s;
}

.products .product.product-expand{
  display: block;
}

.products .product.product-shrink{
  display: none;
}

.products .product .product-content {
  background-color: #f1f6f9;
  padding: 3rem 0rem 1.5rem 0rem;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.products .product .product-content:hover {
  background-color: var(--light-blue);
  transform: rotateY(-20px);
}

.products .product .product-content img {
  width: 50%;
}

.products .product .product-content .product-events button.btn {
  background-color: var(--blue);
  border-radius: 0;
  margin: 1rem 0.25rem;
}

.products .product .product-content .product-events button.btn svg {
  fill: white;
}

.products .product .product-details {
  margin: 1rem 0;
}

.products .product .product-details h6,
.products .product .product-details p {
  margin: 0.2rem 0;
  font-family: "Mukta";
}

.product-rate {
  fill: var(--yellow);
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation-name: modalshow;
  animation-duration: 0.5s;
  transition: all 0.5s ease-in-out;
}

/* Add Animation */
@keyframes modalshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content-product .content {
  display: flex;
  justify-content: space-between;
  text-align: start;
}

/* Modal Content */
.modal-content-product {
  background-color: #f1f6f9;
  margin: 20vh auto;
  padding: 10px 20px 10px 0px;
  border-radius: 3px;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.product-status button {
  border: 0;
  color: white;
  padding: 0.25rem 1rem;
}

.product-status button.stoke,
.product-status button.status {
  background-color: var(--main);
}

.product-status button.product-diskount {
  background-color: var(--blue);
}
/* /Products */

/* Blog */
.blog {
  background-image: linear-gradient(
      rgba(112, 178, 224, 0.5),
      rgba(86, 108, 122, 0.5)
    ),
    url(../images/banner-2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.blog .content {
  width: 55%;
  text-align: center;
  padding: 0 5rem;
}

.blog .content h1 span {
  color: var(--yellow);
  font-weight: 900;
  font-size: 5rem;
  text-transform: uppercase;
  margin: 2rem 0;
}

.blog .content h1 {
  color: var(--text-color);
  font-weight: 900;
  font-size: 3rem;
  text-transform: capitalize;
  margin: 2rem 0;
}

.blog .content .btn {
  padding: 0.5rem 2.3rem;
  margin: 1rem 0;
  text-transform: capitalize;
}
/* /Blog */

/* Rooms */
.rooms {
  padding: 5rem 0;
}

.rooms .room h1 {
  font-weight: 600;
  margin: 2rem 0;
}

.rooms .room p {
  color: var(--text-color);
  font-weight: 100;
}

.rooms .room button {
  margin: 1rem 0;
  padding: 0.5rem 3rem;
}

.rooms .room .mobile {
  display: none;
  background-color: var(--light-blue);
  border-radius: 0.2rem;
  cursor: pointer;
}

.rooms .room .mobile img {
  width: 100%;
  height: 100%;
}

.rooms .room .mobile .text {
  padding: 0rem 2rem;
}

/* /Rooms */

/* Diskount */
.diskount {
  background-image: linear-gradient(
      rgba(93, 155, 201, 0.5),
      rgba(41, 52, 60, 0.5)
    ),
    url(../images/banner-2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.diskount .content {
  width: 100%;
  text-align: center;
  padding: 0 5rem;
  display: flex;
  align-items: center;
}

.diskount .content h1 {
  font-weight: 600;
  color: var(--text-color);
  margin: 1.5rem 0;
}

.diskount .content p {
  color: white;
  margin: 1.5rem 0;
}

.diskount .content .box .input-group {
  width: 50%;
}

.diskount .content .box input {
  background-color: var(--light-blue);
  border-radius: 25px;
  padding: 0.7rem 1rem;
}

.diskount .content .box .input-group-text {
  background-color: var(--main);
  color: white;
  border: 0;
  border-radius: 25px !important;
  padding: 0.6rem 2rem;
  cursor: pointer;

  position: relative;
  left: -1.2rem;
  z-index: 9;
}

/* /Diskount */

/* Footer */
.footer {
  padding: 5rem 1rem;
  color: var(--text-color);
}

.footer .social__apps svg {
  fill: var(--text-color);
  height: 1.5rem;
  margin-right: 1rem;
}

.footer .block {
  background-color: #71b3c6;
  border-radius: 10px;
  padding: 1rem;
  color: white;
}

.footer .block span {
  color: var(--text-color);
  font-weight: bold;
}

.footer ul {
  align-items: start;
}

.footer ul li a {
  color: var(--text-color);
}

.copyright {
  background-color: var(--light-blue);
  margin: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright p {
  margin: 0;
}
/* /Footer */
